<div>
   <div class="card">
      <h3 class="card-header">

        <div class="jumbotron">
          <h1 class="display-4">LogCorner Speech Repository</h1>
          <p class="lead">This is a repository of speeches</p>
        </div>
 
         Speeches
        <a [routerLink]="['/speech', 'new']" class="btn btn-sm btn-primary float-right" [ngbTooltip]="ttContent"
          placement="left" tooltipClass="custom-tooltip" >
          <span class="btn-success">
            Add New Speech
          </span>
          </a>
        <ng-template #ttContent>
          Insert a new <strong class="text-primary text-uppercase">speech</strong> into your list
        </ng-template>
       </h3>
      <div class="card-body">
        <div class="row">
          <div class="col">
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <th>Title</th>
            <th>Url</th>
            <th>Type</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let speech of speeches">
              <td>
                  <a href="{{speech.url}}" target="blanck">{{speech.title}}</a>
              </td>
              <td>{{speech.url}}</td>
              <td>{{speech.type?.name}}</td>
              <td>
                <a [routerLink]="['/speech', speech.id]" class="btn btn-info btn-sm mr-2">Edit</a>
                <button class="btn btn-danger btn-sm" (click)="deleteSpeech(speech.id, deleteModal)">Delete</button>
              </td>
              </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="errorMessage" class="btn btn-danger">
        {{errorMessage}}
    </div>
    </div>
    <ng-template #deleteModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Delete?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="modal.close()">Yes (Delete)</button>
        <button class="btn btn-danger" (click)="modal.dismiss()">No</button>
      </div>
    </ng-template>
   </div>