<div>
   
    <div class="card">
      <h3 class="card-header">
         Speeches
        <a [routerLink]="['/speech', 'new']" class="btn btn-sm btn-primary float-right" [ngbTooltip]="ttContent"
          placement="left" tooltipClass="custom-tooltip">Add New Speech</a>
        <ng-template #ttContent>
          Log a new <strong class="text-primary text-uppercase">workout</strong> into your list
        </ng-template>
  
      </h3>
      <div class="card-body">
        <div class="row">
          <div class="col">
          </div>
        </div>
  
        <table class="table table-striped">
          <thead>
            <th>Title</th>
            <th>Url</th>
            <th>Type</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let speech of speeches">
              <td>
                  <a href="{{speech.url}}" target="blanck">{{speech.title}}</a>
              </td>
              <td>{{speech.url}}</td>
              <td>{{speech.type?.name}}</td>
              <td>
                <a [routerLink]="['/speech', speech.id]" class="btn btn-info btn-sm mr-2">Edit</a>
              </td>
              </tr>
          </tbody>
        </table>
  
      </div>
    </div>
   </div>