<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/']">LogCorner Speech</a>

  <div class="collapse navbar-collapse xnavbar-nav xnav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/']" [routerLinkActive]="['link-active']">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/speech']" [routerLinkActive]="['link-active']">speeches</a>
      </li>
     
    
    </ul>
  </div>
  <div>
    <button *ngIf="!loginDisplay&&isAuthenticationEnabled" class="btn btn-primary btn-large" role="button" (click)="login()">sign in</button>

  </div>
  <div *ngIf="isAuthenticationEnabled">
    <ul *ngIf="loginDisplay" class="navbar-nav mr-auto">
      <li>
        <a class="nav-item nav-link" [routerLink]="['/profile']" [routerLinkActive]="['link-active']">Profile</a>
      </li>
      <li>
        <button  class="btn btn-primary btn-large" role="button" (click)="logout()">log out</button>

      </li>
    </ul>
    
     </div>
</div>
<div class='card-section'>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
</div>
